<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- <link th:href="@{/css/destyle.css}" rel="stylesheet" type="text/css"> -->
     <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>ユーザー編集画面</title>
</head>
<body>
<!-- <header></header> -->
<a href="#" th:href="@{/management}">ユーザー管理画面に戻る</a>
<a href="#" th:href="@{/}">トップ画面に戻る</a>
<h1 th:text="${title}">ユーザー編集画面</h1>
<p th:if="${complete}" th:text="${complete}"></p>
<div class="edit">
<form method="POST" th:action="@{/edit/update}" th:object="${memberForm}">
	<label>権限を（選択してください）：</label>
	<select name="roles">
	<option value="ROLE_ADMIN" th:selected="*{roles == 1}">Admin</option>
	<option value="ROLE_USER" th:selected="*{roles == 2}">User</option>
	<option value="ROLE_ADMIN,ROLE_USER" th:selected="*{roles == 3}">Admin&User</option>
	</select><br>
	<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
	<label>ユーザー名：</label>
	<input class="user" type="text" name="userName" th:value="*{userName}" /><br>
	<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
	<label>password：</label>
	<input class="password" type="text" name="password" placeholder="必ず入れてね"/><br>
	<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
	<!-- <select name="enable_flag">
	<option value="1" th:selected="*{enable_flag == TRUE}">公開</option>
	<option value="2" th:selected="*{enable_flag == FALSE}">停止</option>
	</select><br> -->
	<input  th:if="${id}" type="hidden" name="id" th:value="${id}">
	<input type="submit" value="更新">
</form>
<!-- <p th:unless="${taskForm.isNewTask}"><a href="#" th:href="@{/task}">戻る</a></p> -->
<!-- <form class="form-signin" th:action="@{/login?logout}" method="post">
        <button class="btn btn-lg btn-primary btn-block" type="submit">ログアウト</button>
</form>

	<tr th:each="obj : ${list}">
		<td th:text=${obj.id}></td>
		<td th:text=${obj.title}></td>
		<td th:text=${obj.deadline}></td>
		<td th:text=${obj.taskType.type}></td>
		<td><a type="button" th:href="@{/task/{id}(id=${obj.id})}">編集</a></td>
		<td>
			<form method="POST" th:action="@{/task/delete}">
			<input type="hidden" name="taskId" th:value="${obj.id}">
			<input type="submit" value="削除">
			</form>
		</td>
	</tr>
</table> -->
</div>
</body>
</html>