<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
       　<!-- <link th:href="@{/css/destyle.css}" rel="stylesheet" type="text/css"> -->
     <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>ログイン</title>
</head>
<body>
<!-- <header></header> -->
<div class="login">
   <p style="text-align: center;">Nakagawa FORM</p>
   <form class="" th:action="@{/authenticate}" method="post">
        <p>
          <input type="text" id="userName" name="userName" class="form-control" placeholder="ユーザー名「test」" required autofocus>
        </p>
        <p>
          <input type="password" id="password" name="password" class="form-control" placeholder="パスワード「test」" required>
        </p>
        <button class="button" type="submit">ログイン</button>
        
        <a href="/RegistrationForm" class="new">新規登録</a>
   </form>
</div>
</body>
</html>