<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- <link th:href="@{/css/destyle.css}" rel="stylesheet" type="text/css"> -->
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>CRUDforTask</title>
</head>
<body>
	<!-- <header>
</header> -->
	<a href="#" th:href="@{/task}">TODO編集</a>
	<a href="#" th:href="@{/management}">ユーザー管理</a>
	<div class="top">
		<h1 th:text="${title}">ようこそ</h1>
		<div th:if="${taskForm.isNewTask}" >
			<!-- <h3>タスク　編集削除</h3> -->
			<table>
				<tr th:each="obj : ${list}">
					<td th:text=${obj.id}></td>
					<!-- <td th:text=${obj.userId}></td> -->
					<td th:text=${obj.title}></td>
					<td th:text=${obj.deadline}></td>
					<td th:text=${obj.taskType.type}></td>

					<!-- <td th:if="${obj.userId==userId}"><a type="button"
						th:href="@{/task/{id}(id=${obj.id})}">編集</a></td> -->
					<td> 
						<form method="POST" th:action="@{/task/delete}">
							<input type="hidden" name="taskId" th:value="${obj.id}">
							<input th:if="${obj.userId==userId}" type="submit" value="削除">
						</form>
					</td>
				</tr>
			</table>
		</div>

		<p th:unless="${taskForm.isNewTask}">
			<a href="#" th:href="@{/}">戻る</a>
		</p>
		<form class="form-signin" th:action="@{/login?logout}" method="post">
			<button class="btn btn-lg btn-primary btn-block" type="submit">ログアウト</button>
		</form>
	</div>
</body>
</html>